<script>
    window.onload = function(){
    document.getElementById('close').onclick = function(){
        
        this.parentNode.remove()
        return false;
    };
    
       
};
</script>

{{#if user}}
    


{{else}}
    <div class="container-fluid card py-1 cadastro" id="cadastro">
    <div class="card-body">
        <button type="button" class="btn-close position-absolute top-0 end-0 me-4 mt-4" id="close" onclick="this.parentNode.remove(); return false;" aria-label="Close"></button>
        <h1 class="display-5 fw-bold">Bem-Vindo ao Blog Node</h1>
        <p class="col-md-8 fs-4">Crie sua conta para poder publicar seus postagens e fazer parte da comunidade. E
            compartilhar
            todo seu conhecimento na bolha DEV.</p>
        <a href="/usuario/login"> <button class="btn btn-success btn-lg">Login</button></a>
        <a href="/usuario/registro"><button class="btn btn-primary btn-lg" type="button"
                onclick="">Cadastre-se</button></a>
    </div>
    </div>
{{/if}}
