<script>
    window.onload = function () {
        var cadastro = document.getElementById("cadastro")
        if (cadastro) {
            console.log(cadastro,)
            document.getElementById("cadastro").style.display = "block"

        } else {
            console.log(cadastro)
            document.getElementById("cadastro").style.display = "none"
        }
    };
</script>

<div class="container-fluid card py-1 cadastro" id="cadastro">
    <div class="card-body">
        <h1 class="display-5 fw-bold">Bem-Vindo ao Blog Node</h1>
        <p class="col-md-8 fs-4">Crie sua conta para poder publicar seus postagens e fazer parte da comunidade. E
            compartilhar
            todo seu conhecimento na bolha DEV.</p>
        <a href="/usuario/login"> <button class="btn btn-success btn-lg">Login</button></a>
        <a href="/usuario/registro"><button class="btn btn-primary btn-lg" type="button"
                onclick="">Cadastre-se</button></a>
        
    </div>

</div>
